<% @order.line_items.each  do |t| %>

<div class="col-sm-12">
  <dl class="dl-horizontal">
      <dd><%= image_tag t.product.image.tiny %></dd>
    <br>
    <dt>Name: </dt>
      <dd><%= t.product.name %></dd>
    <br>
    <dt>Description: </dt>
      <dd><%= t.product.description %></dd>
    <br>
    <dt>Quantity: </dt>
      <dd><%= t.quantity %></dd>
    <br>
    <dt>Price: </dt>
      <dd>$<%= t.item_price %></dd>
  </dl>
</div>
<% end %>
